* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
header {
  width: 100%;
  height: 50px;
  background-color:#ff9a4b ;
}
main {
  
  width: 960px;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

p {
  margin-top: 5px;
}
.step1 {
  width: 300px;
  padding: 10px 10px 0 10px;
  background-color: #eeeeee;
  margin: 0;
  position: relative;
}
.step2 {
  width: 300px;
  padding: 10px 10px 0 10px;
  background-color: #eeeeee;
  margin: 0 30px 0 30px;
  position: relative;
}
.step3 {
  width: 300px;
  background-color: #eeeeee;
  margin: 0;
  padding: 10px 10px 0 10px;
  position: relative;
}
.step-image1 {
  height: 150px;
  background-image: url("img/flow01.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}
.step-image2 {
  height: 150px;
  background-image: url("img/flow02.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;

}
.step-image3 {
  height: 150px;
  background-image: url("img/flow03.png");

  background-size: cover;
  background-position: center;
  margin-bottom: 15px;

}
.a {
  height: 25px;
  width: 50px;
  background-color: #ff9a4b;
  color: white;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #aaaaaa;
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }
  .step1 {
    margin: 50px auto 30px auto;
  } 
  .step2 {
    margin: 0 auto 30px auto;

  }
  .step3 {
    margin: 0 auto;
  }
  .step1,.step2,.step3 {
    width: 90%;
  }
}